.card {
  width: 100%; 
  margin-bottom: 0;
}

.hole-game {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.status {
  margin-bottom: 20px;
}

.hole {
  width: 100%; 
  max-width: 150px; 
  height: auto; 
  margin: 0 0 20px; 
  background: gray;
  border-radius: 50%;
}

.hole_has-mole {
  background-image: url(https://i.postimg.cc/qRS3Wnk9/image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}

body {
  background-image: url('https://i.postimg.cc/FFYVryBd/photo-2023-09-08-23-32-17.jpg');
  background-size: cover; /* Растянуть изображение на всю ширину и высоту экрана */
  background-repeat: no-repeat;
}
/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  .card, .hole-game {
    width: 100%; 
  }
  
  .hole {
    max-width: none; 
    width: calc(50% - 10px); 
  }
}